<strong>Olá {{ responsable }} </strong>
<p>Houve uma inscrição ao evento <strong>{{ meetup }}</strong>, segue mais informações do inscrito abaixo:</p>
<p>
  <strong>Organizador: </strong> {{ subscriber }} <br>
  <strong>Email para contato: </strong> {{ email }} <br>
  <strong>Data: </strong> {{ date }} <br>
</p>
